<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>CUSTOM LOGIN PAGE</h3>
			</div>
		</div>
		<div class="card-body">
			<form th:action="@{/login}" method="POST">


				<div class="row">
					<div class="col-4">
						<label>Username</label>
					</div>
					<div class="col-4">
						<input type="text" name="username" class="form-control" required="required"/>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<label>Password</label>
					</div>
					<div class="col-4">
						<input type="password" name="password" class="form-control" required="required" />
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<label></label>
					</div>
					<div class="col-4">
						<input type="submit" value="Login" class="btn btn-success" />
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer">
			<div th:if="${param.error}">
				<div class="alert alert-danger">INVAILD LOGIN DETAILS!!</div>
			</div>
			<div th:if="${param.logout}">
				<div class="alert alert-info">LOGOUT SUCCESSFUL!</div>
			</div>
		</div>
	</div>
</body>
</html>